/*CSS externo */
 /*seletor {
                propriedade: valor;
            }*/

   /*  TEMA PRINCIPAL */ 
  :root {
    --cor-primaria: #9500ff;
    --cor-secundaria: #3a016c;
    --cor-botao: #ffffff;
    --cor-fundo-pagina: #d5cfcf;
    --cor-fundo-cartao: #854db5;
    --cor-primaria-texto: #333;
    --cor-bordas: #3a016c;
    --cor-secundaria-texto: #555;
    --borda-cartao: 2px solid #5c0266;
    --borda-botao: 2px solid #5c0266;
    --cor-link: #b133f5;
  }
        
  [data-theme="dark"] {
    --cor-primaria: #9500ff;
    --cor-secundaria: #3a016c;
    --cor-botao: #f8f4f1;
    --cor-fundo-pagina: #373635;
    --cor-fundo-cartao: #696866;
    --cor-primaria-texto: #fff;
    --cor-bordas: #aaa;
    --cor-secundaria-texto: #ccc;
  }
  [data-theme="visual"]{
    --cor-primaria: #fff;
    --cor-secundaria: #000;
    --cor-botao: #000000;
    --cor-fundo-pagina: #000000;
    --cor-fundo-cartao: #828282;
    --cor-primaria-texto: #727070;
    --cor-bordas: #ff0;
    --cor-secundaria-texto: #ccc;
    --borda-cartao: 2px solid #ffff00;
    --borda-botao: 2px solid #ffff00;
    --cor-link: #ffffff;
  }
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--cor-fundo-pagina);
    color: var(--cor-primaria-texto);
}
header nav{
    text-align: center;
}

h1 {
   font-size: 2rem; /* 1rem  = 16px --> 1em = "M"*/
    font-weight: bold;
    color: var(--cor-primaria);
}

h2 {
   font-size: 1.5rem;
   font-weight: 700;
   color: var(--cor-primaria);
}

header {
    background-color: var(--cor-primaria);
    padding: 1rem 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky; /* pode ser necessário top, left, bottom ou right */
    top: 0;
}

 header ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header a {
    color: var(--cor-botao);
    font-weight: 700;
    padding: .5rem 1rem;
}

header a:hover{
    background-color: var(--cor-secundaria);

}

section{
    min-height: 80vh;  /*vh -> viewport height (alturada viewport) */
    margin: 2rem;
    scroll-margin-top: 4rem;
    padding: 1rem;
    border: .5rem solid #000000;
    /* overflow: hidden; */
    
}

section#formacaoAcademica, 
section#hardSkills,
section#softSkills,
section#meusProjetos,
section#contato,
section#sobreMim,
section#meusArtigos{
    border: none;
}


.titulo-secao {
    text-align: center;
    margin-bottom: 2rem;
}

#sobreMim {
    display: block;
    padding: 4rem 10rem;
}

#sobreMim img{
    float: left;
    margin: 0 2rem 1rem 0;
    width: 30vw;
    border-radius: 50%;
    border: 5px solid var(--cor-bordas);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3) ;
}
#sobreMim p {
    text-align: justify; 
    margin-bottom: 1rem;
    line-height: 1rem;
}

.minhas-redes{
    clear: both;
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1.1rem;
}
p {
    margin-bottom: 1rem;
}

body {
  text-align: center;
}

section a{
    color: var(--cor-link);
}
img{
    display: block;
    margin: auto;
    width: 18%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    text-align: center;
}
input[type="text"],
input[type="email"],
input,
textarea{
    border: 1px solid var(--cor-bordas);
    border-radius: 8px;
    padding: .25rem .75rem;
    color: var(--cor-primaria-texto);
    resize: none;
    text-align: center;
}
input[type="submit"] {
    background-color: var(--cor-primaria);
    color: var(--cor-fundo);
    padding: .25rem .75rem;
    border: none;
    font-weight: 700;
}

 /* ESTILOS DOS CARDS */
 
.card{
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    list-style-image: none;
    background-color: var(--cor-fundo-cartao);
    border: var(--borda-cartao);
    margin: 0.5rem
}
.card li{
    margin: 0.5rem;
}
.titulo-card{
    font-weight: bold;
    color: var(--cor-primaria);
    font-size: 1.3rem;

}
.instituição-card{
    font-size: 1.1rem;
    color: var(--cor-secundaria-texto);
}

.titulo-card{
    font-weight: bold;
    color: var(--cor-primaria);
    font-size: 1.3rem;
}
.instituição-card{
    font-size: 1.1rem;
    color: var(--cor-secundaria-texto);
}
.cards-em-coluna{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}
.linguagem-card{
    font-size: 1.1rem;
    color: var(--cor-secundaria-texto);
}
.linguagem-card{
    font-size: 1.1rem;
}
.cards-em-linha {
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
    flex-wrap: wrap;
}
.card-descrição{
    margin-top: 0.5em;
    font-size: 0.95rem;
    color: var(--cor-primaria-texto);
}
#meusProjetos .card{
    width: 30%;
}
.botao {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    margin: 0.3rem 0.3rem 0 0;
    font-weight: bold;
}
.botao:hover{
    cursor: pointer;
    background-color: var(--cor-secundaria);
}
.botao-demo,
.botao-continue {
    background-color: var(--cor-primaria);
    color: var(--cor-primaria-texto);
}
.botao-compartilhar {
    background-color: var(--cor-bordas);
}
.botao-compartilhar:hover{
    background-color: var(--cor-secundaria);
}
.artigos {
   justify-content: space-evenly; 
}

.artigos article{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1rem;
    border-left: 5px solid var(--cor-primaria);
    margin-bottom: 1rem;
    border-radius: 8x;
}
.artigos h3{
    margin-top: 0;
    color: var(--cor-secundaria);
    margin-bottom: 1rem;
}
